<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83f618da-b9b6-4a67-b2d6-03b75e78417b" Alias="List View - project" Level="1">
  <Info>
    <Name>List View - project</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "PageSize": 10,
  "OrderBy": "contentTypeAlias",
  "OrderDirection": "desc",
  "IncludeProperties": [
    {
      "alias": "contentTypeAlias",
      "header": null,
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "owner",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "Icon": "icon-list",
  "TabName": null,
  "ShowContentFirst": false,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>