<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17ca2a29-f1e1-469f-a917-2027ece28bf2" Alias="generalContentPage" Level="2">
  <Info>
    <Name>General Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>GeneralContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aaa37341-dade-49ff-9cec-ee7ac47f4445">GeneralContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>