<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4dc8089e-5b97-4ab8-93a3-1b4faaeb87a9" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9a98118e-7f62-4dd8-b095-db7e1e5dceec">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="27db4538-5ac9-4e46-b6e4-131cdbae1010" SortOrder="0">project</ContentType>
    <ContentType Key="17ca2a29-f1e1-469f-a917-2027ece28bf2" SortOrder="1">generalContentPage</ContentType>
    <ContentType Key="ec4e78ed-5ca4-46b9-901c-15fff249a0f0" SortOrder="2">jenkinsBuild</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>