<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27db4538-5ac9-4e46-b6e4-131cdbae1010" Alias="project" Level="2">
  <Info>
    <Name>Project</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Project</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75412539-b66d-4d4d-b51d-f384fcdb06f1">Project</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="27db4538-5ac9-4e46-b6e4-131cdbae1010" SortOrder="0">project</ContentType>
    <ContentType Key="2d737436-b300-4f86-a870-5a8d523ff54e" SortOrder="1">jenkinsJob</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>