.loader {
    position: absolute;
    left: 50%;
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid $teal;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    animation: spin 2s linear infinite;

    &__container {
        @extend .container;
    }
}  
