.nav {
    width: 100%;
    background-color: $teal;
    color: $white;
    position: fixed;
    top: 0;
    
    &__title {
        position: relative;
        display: inline-block;
        min-width: 230px;
        justify-content: center;
        text-align: center;

        @include breakpoint(mobile) {
            display: block;
            min-height: 50px;
        }

        @include breakpoint(mobilerotate) {
            display: block;
            min-height: 50px;
        }

        @include breakpoint(tablet) {
            display: block;
            min-height: 50px;
        }

        img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -75%);
            max-height: 35px;
            left: 50%;

            @include breakpoint(mobile) {
                transform: translate(-50%, -50%);
            }

            @include breakpoint(mobilerotate) {
                transform: translate(-50%, -50%);
            }

            @include breakpoint(tablet) {
                transform: translate(-50%, -50%);
            }
        }

    }

    &__tabs {
        display: inline-flex;
        flex-direction: row;
        justify-content: start;

        @include breakpoint(mobile) {
            display: flex;
        }

        > div {
            padding: 1rem;
            border-bottom: 4px solid $teal;
            cursor: pointer;

            &.active {
                border-bottom: 4px solid $white;
            }
        }
    }
}
