.sidebar {
    height: 100%;
    min-width: 230px;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: $grey-dark;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobilerotate) {
      display: none;
      
      &.active {
        display: flex;
      }
    }

    @include breakpoint(mobile) {
      display: none;
      
      &.active {
        display: flex;
      }
    }

    .dropdown-btn {
      .fa-chevron-down {
        display: block;
        float: right;
        padding-right: 8px;
      }
    
      .fa-chevron-up {
        display: none;
      }
    
      &.active {
        background-color: $teal;
        color: $white;
    
        a {
          color: $white;
          &:hover {
            color: $white;
          }
        }
    
        .fa-chevron-down {
          display: none;
        }
    
        .fa-chevron-up {
          display: block;
          float: right;
          padding-right: 8px;
        }
      }
    }
    
    .dropdown-container {
      text-decoration: none;
      font-size: 20px;
      color: $white;
      display: none;
    
      &.active {
        background-color: $grey;
        display: block;
      }
    }
    
    &-footer {
        position: fixed;
        bottom: 0px;
        > a {
          text-align: center;
          display: block;
          &.button {
            max-width: 200px;
          }
        }
    }

    a, .dropdown-btn a {
      padding: 1rem 2rem;
      text-decoration: none;
      font-size: 20px;
      color: $white;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
    }

    a {
      &:hover {
        background-color: $grey;
      }

      &.active {
        background-color: $teal;
        font-weight: 700;

        &:hover {
          background-color: $teal;
        }
      }
    }
  }