@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");
.u-centre {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-vertical-centre {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.u-icon-success {
  color: #009e99;
}

.u-icon-fail {
  color: #ec2313;
}

.u-bg-success {
  background-color: #0df22f;
}

.u-bg-failure {
  background-color: #ec2313;
}

.u-no-underline:hover {
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
p {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-1,
.header-2,
.header-3,
.header-4,
.header-5,
.header-6,
strong,
b {
  font-weight: 700;
}

.dashboard_heading > h1 {
  text-align: center;
  margin-block-start: 0px;
}

.row {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
}
.row:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .row .col-1 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-1 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-1 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1441px) {
  .row .col-1 {
    grid-column: span 1;
  }
}
@media (max-width: 480px) {
  .row .col-2 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-2 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-2 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-2 {
    grid-column: span 2;
  }
}
@media (min-width: 1441px) {
  .row .col-2 {
    grid-column: span 2;
  }
}
@media (max-width: 480px) {
  .row .col-3 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-3 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-3 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-3 {
    grid-column: span 3;
  }
}
@media (min-width: 1441px) {
  .row .col-3 {
    grid-column: span 3;
  }
}
@media (max-width: 480px) {
  .row .col-4 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-4 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-4 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-4 {
    grid-column: span 4;
  }
}
@media (min-width: 1441px) {
  .row .col-4 {
    grid-column: span 4;
  }
}
@media (max-width: 480px) {
  .row .col-5 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-5 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-5 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-5 {
    grid-column: span 5;
  }
}
@media (min-width: 1441px) {
  .row .col-5 {
    grid-column: span 5;
  }
}
@media (max-width: 480px) {
  .row .col-6 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-6 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-6 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-6 {
    grid-column: span 6;
  }
}
@media (min-width: 1441px) {
  .row .col-6 {
    grid-column: span 6;
  }
}
@media (max-width: 480px) {
  .row .col-7 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-7 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-7 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-7 {
    grid-column: span 7;
  }
}
@media (min-width: 1441px) {
  .row .col-7 {
    grid-column: span 7;
  }
}
@media (max-width: 480px) {
  .row .col-8 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-8 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-8 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-8 {
    grid-column: span 8;
  }
}
@media (min-width: 1441px) {
  .row .col-8 {
    grid-column: span 8;
  }
}
@media (max-width: 480px) {
  .row .col-9 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-9 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-9 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-9 {
    grid-column: span 9;
  }
}
@media (min-width: 1441px) {
  .row .col-9 {
    grid-column: span 9;
  }
}
@media (max-width: 480px) {
  .row .col-10 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-10 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-10 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-10 {
    grid-column: span 10;
  }
}
@media (min-width: 1441px) {
  .row .col-10 {
    grid-column: span 10;
  }
}
@media (max-width: 480px) {
  .row .col-11 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-11 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-11 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-11 {
    grid-column: span 11;
  }
}
@media (min-width: 1441px) {
  .row .col-11 {
    grid-column: span 11;
  }
}
@media (max-width: 480px) {
  .row .col-12 {
    grid-column: span 12;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .row .col-12 {
    grid-column: span 12;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .row .col-12 {
    grid-column: span 12;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .row .col-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1441px) {
  .row .col-12 {
    grid-column: span 12;
  }
}

.container, header, main .main-content {
  margin: auto;
}
@media (min-width: 1441px) {
  .container, header, main .main-content {
    max-width: 75vw;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container, header, main .main-content {
    max-width: 75vw;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container, header, main .main-content {
    max-width: 75vw;
  }
}
@media (max-width: 480px) {
  .container, header, main .main-content {
    margin: 0 1rem;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .container, header, main .main-content {
    margin: 0 1rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container, header, main .main-content {
    margin: 0 1rem;
  }
}
.container:not(:last-child), header:not(:last-child), main .main-content:not(:last-child) {
  margin-bottom: 1rem;
}

main {
  margin-top: 1rem;
}
@media (min-width: 1441px) {
  main {
    margin-left: 230px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  main {
    margin-left: 230px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  main {
    margin-left: 230px;
  }
}
header {
  border-bottom: 1px solid black;
  background-color: #fff;
  padding: 1rem 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dashboard {
  background-color: #222d32;
  color: #fff;
  width: 100vw;
  height: 100vh;
}
.dashboard_wrapper {
  padding: 10px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: max-content;
}
.dashboard_tile {
  background-color: #009e99;
  color: #fff;
}

.button {
  border-radius: 0px;
  border: none;
  padding: 15px;
}
.button__primary {
  background-color: #0454ff;
  color: #fff;
}
.button__danger {
  color: #fff;
  background-color: #ec2313;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data-widget {
  background-color: #91b5f0;
  min-height: 200px;
  max-height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.data-widget .data-widget-heading {
  background-color: #009e99;
  color: #fff;
}
.data-widget .data-widget-heading h3 {
  padding: 3px;
}

.table {
  margin-bottom: 0px;
}
.table.table-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table .table-header_decorated {
  background-color: #91b5f0;
}
.table.table-hover {
  cursor: pointer;
}

.environment-card {
  background-color: transparent;
  border: 1px solid #fff;
  height: 320px;
  margin-bottom: 20px;
}
.environment-card .environment-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.environment-card .environment-card-wrapper .card-front {
  background-color: #009e99;
  color: #fff;
}
.environment-card .environment-card-wrapper .card-front .card-title {
  font-weight: 700;
  font-size: xx-large;
}
.environment-card .environment-card-wrapper .card-front .card-icon {
  font-size: 70px;
}
.environment-card .environment-card-wrapper .card-back {
  background-color: transparent;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  transform: rotateY(180deg);
}
.environment-card .environment-card-wrapper .card-back_item {
  background-color: #009e99;
  color: #fff;
}
.environment-card .environment-card-wrapper .card-back_item.environment-card_content {
  position: absolute;
  top: 50%;
}
.environment-card .environment-card-wrapper .card-back_item:hover {
  border: #fff 3px solid;
  cursor: pointer;
}
.environment-card .environment-card-wrapper .card-front, .environment-card .environment-card-wrapper .card-back {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.environment-card:hover .environment-card-wrapper {
  transform: rotateY(180deg);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%), translateX(-50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #009e99;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}
.loader-container {
  position: relative;
  margin: auto 0;
}

.build-card {
  background-color: transparent;
  height: 320px;
  margin-bottom: 20px;
}
.build-card .build-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.build-card .build-card-wrapper .card-front {
  color: white;
}
.build-card .build-card-wrapper .card-front .card-title {
  font-weight: bold;
  font-size: xx-large;
}
.build-card .build-card-wrapper .card-front .card-icon {
  font-size: 70px;
}
.build-card .build-card-wrapper .card-back {
  background-color: #91b5f0;
  color: #fff;
  transform: rotateY(180deg);
}
.build-card .build-card-wrapper .card-back .btn {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 0px;
  padding: 6px;
}
.build-card .build-card-wrapper .card-front, .build-card .build-card-wrapper .card-back {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.build-card_content {
  margin-left: 20px;
  margin-right: 20px;
}
.build-card:hover .build-card-wrapper {
  transform: rotateY(180deg);
}

.sidebar {
  height: 100%;
  min-width: 230px;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #222d32;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) and (min-width: 481px) {
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: flex;
  }
}
@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: flex;
  }
}
.sidebar .dropdown-btn .fa-chevron-down {
  display: block;
  float: right;
  padding-right: 8px;
}
.sidebar .dropdown-btn .fa-chevron-up {
  display: none;
}
.sidebar .dropdown-btn.active {
  background-color: #009e99;
  color: #fff;
}
.sidebar .dropdown-btn.active a {
  color: #fff;
}
.sidebar .dropdown-btn.active a:hover {
  color: #fff;
}
.sidebar .dropdown-btn.active .fa-chevron-down {
  display: none;
}
.sidebar .dropdown-btn.active .fa-chevron-up {
  display: block;
  float: right;
  padding-right: 8px;
}
.sidebar .dropdown-container {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: none;
}
.sidebar .dropdown-container.active {
  background-color: #3a4347;
  display: block;
}
.sidebar-footer {
  position: fixed;
  bottom: 0px;
}
.sidebar-footer > a {
  text-align: center;
  display: block;
}
.sidebar-footer > a.button {
  max-width: 200px;
}
.sidebar a, .sidebar .dropdown-btn a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidebar a:hover {
  background-color: #3a4347;
}
.sidebar a.active {
  background-color: #009e99;
  font-weight: 700;
}
.sidebar a.active:hover {
  background-color: #009e99;
}

.action-block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  position: relative;
  transition: transform 0.2s;
  color: #222d32;
}
.action-block_content {
  position: relative;
  padding: 10px;
  text-align: center;
  top: 50%;
}
.action-block:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #009e99;
  color: #fff;
}
.action-block:hover .action-block_content svg {
  fill: #fff;
}

.link-card {
  background-color: #91b5f0;
  border-bottom: #7d8281 5px solid;
  padding: 3px;
}
.link-card a {
  color: #7d8281;
}
.link-card:hover {
  border-bottom-color: #009e99;
}
.link-card:hover a {
  color: #009e99;
  text-decoration: none;
}
.link-card:active {
  background-color: #009e99;
  border-bottom-color: #009e99;
}
.link-card:active a {
  color: #fff;
}

.nav {
  width: 100%;
  background-color: #009e99;
  color: #fff;
}
.nav__title {
  position: relative;
  display: inline-block;
  min-width: 230px;
  justify-content: center;
  text-align: center;
}
@media (max-width: 480px) {
  .nav__title {
    display: block;
    min-height: 50px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .nav__title {
    display: block;
    min-height: 50px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .nav__title {
    display: block;
    min-height: 50px;
  }
}
.nav__title img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -75%);
  max-height: 35px;
  left: 50%;
}
@media (max-width: 480px) {
  .nav__title img {
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .nav__title img {
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .nav__title img {
    transform: translate(-50%, -50%);
  }
}
.nav__tabs {
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
}
@media (max-width: 480px) {
  .nav__tabs {
    display: flex;
  }
}
.nav__tabs > div {
  padding: 1rem;
  border-bottom: 4px solid #009e99;
  cursor: pointer;
}
.nav__tabs > div.active {
  border-bottom: 4px solid #fff;
}

ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
}

html * {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #ecf0f5;
}

html, body {
  min-height: 100%;
}