main {
    margin-top: 1rem;

    @include breakpoint(largedesktop) {
        margin-left: 230px;
    }

    @include breakpoint(desktop) {
        margin-left: 230px;
    }

    @include breakpoint(tablet) {
        margin-left: 230px;
    }

    .main-content {
        @extend .container;
    }
}

header {
    @extend .container; 

    border-bottom: 1px solid black;
    background-color: $white;

    padding: 1rem 1rem;
}
