.row {
    display: grid;
    column-gap: $gutter-size;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            
            &:not(:last-child) {
                margin-bottom: $gutter-size;        
            }

            @include breakpoint(mobile) {
                grid-column: span 12;
            }

            @include breakpoint(mobilerotate) {
                grid-column: span 12;
            }

            @include breakpoint(tablet) {
                grid-column: span calc($i * 2);
            }

            @include breakpoint(desktop) {
                grid-column: span calc($i * 2);
            }

            @include breakpoint(largedesktop) {
                grid-column: span $i;
            }
        }
    }
}

.container {
    margin: auto;

    @include breakpoint(largedesktop) {
        max-width: 75vw;

    }

    @include breakpoint(desktop) {
        max-width: 75vw;
        
    }

    @include breakpoint(tablet) {
        margin: 0 1rem;   
    }

    @include breakpoint(mobile) {
        margin: 0 1rem;
    }

    @include breakpoint(mobilerotate) {
        margin: 0 1rem;
    }

    @include breakpoint(tablet) {
        margin: 0 1rem;
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}