$roboto-font: 'Roboto', sans-serif; 

// DESKTOP LAYOUT
$navbar-height: 50px;
$sidebar-width: 250px;

// COLOURS
$cyan: #06B9B2;
$light-blue: #E3EBF8;
$success-green: #0df22f;
$fail-red: #ec2313;
$disabled: #7d8281;

// ENVIRONMENT WIDGET
$environment-widget-height: 300px;
