
<div class="nav">
    <div class="nav__title">
        <a href="/"><img src="~/images/CDS_Logo_White.png" /></a>
    </div>

    <div class="nav__tabs">
        <div>
            <a>link</a>
        </div>
    </div>
</div>