@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{ 
    IPublishedContent home = Umbraco.ContentAtRoot().First();
}

<aside class="sidebar">    
    <ul class="sidebar-menu">
        @foreach (IPublishedContent project in (IEnumerable<IPublishedContent>)home.Children<ContentModels.Project>())
        {
            <div class="dropdown-btn">
                <a href="@project.Url()">
                    <span>@project.Name</span>
                </a>
                <div class="dropdown-container">
                    @foreach (IPublishedContent subProj in (IEnumerable<IPublishedContent>)project.Children<ContentModels.Project>())
                    {
                        <a href="@subProj.Url()">@subProj.Name</a>
                    }
                </div>
            </div>
        }
    </ul>
</aside>