@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<aside class="sidebar">    
    <ul class="sidebar-menu">
        @foreach (IPublishedContent project in Umbraco.ContentAtRoot().First().Children<ContentModels.Project>())
        {
            <li>
                <a href="@project.Url()">
                    <span>@project.Name</span>
                <ul>
                    @foreach (IPublishedContent subProj in project.Children<ContentModels.Project>())
                    {
                        <li><a href="@subProj.Url()">@subProj.Name</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</aside>