.u-centre {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.u-vertical-centre {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}