.u-icon-success {
    color: $cyan;
}

.u-icon-fail {
    color: $fail-red;
}


.u-bg-success {
    background-color: $success-green;
}

.u-bg-failure {
    background-color: $fail-red;
}