<?xml version="1.0" encoding="utf-8"?>
<Content Key="54018abd-7870-4aba-9d1e-4e5fb57b1694" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-07T15:24:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9a98118e-7f62-4dd8-b095-db7e1e5dceec">Home</Template>
  </Info>
  <Properties />
</Content>