<?xml version="1.0" encoding="utf-8"?>
<Content Key="83e1679f-1ffe-463b-a6ec-a52119f39c2e" Alias="Jenkins Build" Level="2">
  <Info>
    <Parent Key="54018abd-7870-4aba-9d1e-4e5fb57b1694">Home</Parent>
    <Path>/Home/JenkinsBuild</Path>
    <Trashed>false</Trashed>
    <ContentType>jenkinsBuild</ContentType>
    <CreateDate>2022-06-13T12:11:46</CreateDate>
    <NodeName Default="Jenkins Build" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ab54cecc-fffe-402e-93cc-7609ff5f7ce2">JenkinsBuild</Template>
  </Info>
  <Properties>
    <enableComments>
      <Value><![CDATA[0]]></Value>
    </enableComments>
  </Properties>
</Content>