<?xml version="1.0" encoding="utf-8"?>
<Content Key="81816d31-e21d-4d8d-b764-ac95404871a5" Alias="Job 1" Level="4">
  <Info>
    <Parent Key="9c62f2d2-c439-4e2d-934f-b4ebe6cf57fa">SubProject</Parent>
    <Path>/Home/SOH/SubProject/Job1</Path>
    <Trashed>false</Trashed>
    <ContentType>jenkinsJob</ContentType>
    <CreateDate>2022-06-08T14:48:26</CreateDate>
    <NodeName Default="Job 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe4b6e35-a9c4-4d6b-8b2a-2d5bc4a8f7d3">Job</Template>
  </Info>
  <Properties>
    <isJenkinsJob>
      <Value><![CDATA[1]]></Value>
    </isJenkinsJob>
    <jobName>
      <Value><![CDATA[cds.soh.e2e.browserstack]]></Value>
    </jobName>
  </Properties>
</Content>