<?xml version="1.0" encoding="utf-8"?>
<Content Key="409ca531-b5af-438e-84e2-455c3332e943" Alias="SOH" Level="2">
  <Info>
    <Parent Key="54018abd-7870-4aba-9d1e-4e5fb57b1694">Home</Parent>
    <Path>/Home/SOH</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2022-06-07T15:29:03</CreateDate>
    <NodeName Default="SOH" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75412539-b66d-4d4d-b51d-f384fcdb06f1">Project</Template>
  </Info>
  <Properties />
</Content>