<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c62f2d2-c439-4e2d-934f-b4ebe6cf57fa" Alias="SubProject" Level="3">
  <Info>
    <Parent Key="409ca531-b5af-438e-84e2-455c3332e943">SOH</Parent>
    <Path>/Home/SOH/SubProject</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2022-06-08T14:41:07</CreateDate>
    <NodeName Default="SubProject" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75412539-b66d-4d4d-b51d-f384fcdb06f1">Project</Template>
  </Info>
  <Properties />
</Content>