@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GeneralContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<header>
    <div class="container">
        <h1>@Model.Name</h1>
    </div>

    <partial name="_breadcrumb" />
</header>
